# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg
*.egg-info/
dist/
build/
*.log

# Virtual environments
venv/
.env/
.envrc
*.env

# VS Code
.vscode/

# Jupyter Notebooks
.ipynb_checkpoints/

# OS files
.DS_Store

# DLT pipeline artifacts
.cache/
.dlt/

# DuckDB
*.duckdb