# This is an example secrets.toml file.
#
# You should create a file named `secrets.toml` in the `.dlt` directory of your
# project and add your Trendyol API credentials to it.

[sources.trendyol]
token = "YOUR_API_TOKEN"
seller_id = "YOUR_SELLER_ID"
